<md-toolbar layout="row" class="md-hue-3">
  <div class="md-toolbar-tools">
    <span>Task List</span>
  </div>
</md-toolbar>
<md-content>
  <md-list>
    <md-list-item ng-repeat="task in form.tasks">
      <md-content>
        <md-icon md-font-icon="md-icon-settings"></md-icon>
        <div class="md-list-item-text" ng-class="{'md-offset': phone.options.offset }">
          <h3> {{task.name}} </h3>
          <p> Id:
            <strong>{{task.id}}</strong>. Priority:
            <strong>{{task.priority }}</strong> . Due date:
            <strong>{{task.dueDate}}</strong>
          </p>
          <p> Created at:
            <strong>{{task.createdAt }}</strong> . Update at:
            <strong>{{task.updatedAt}}</strong>
          </p>
        </div>
      </md-content>
      <md-content>
        <md-button class="md-raised md-warn" ng-click="form.destroy(task.id)">Remove</md-button>
        <md-button class="md-raised md-primary" ng-click="form.edit(task)">Edit</md-button>
      </md-content>
    </md-list-item>
  </md-list>
  <h3 ng-if="!form.tasks.length" class="center">No data</h3>
</md-content>